body {
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 9pt;
}

textarea {
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
}

.tableHeader {
	font-weight: bold;
	text-align: center;
}

.potNumberColumn {
	width: 10px;
}

.potAmountColumn{
	width: 40px;
	border: 1px solid black;
	text-align: right;
}

.potRoundNumberColumn {
	width: 37px;
	border: 1px solid black;
	text-align: right;
}

.potContributorSeatsColumn {
	width: 135px;
	border: 1px solid black;
}
